<h1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List  Data Science Tools
* List some of the commonly used libraries used by Data Scientists
* Create a a simple arithmetic expression to mutiply then add integers
* Create a function to transform minutes to hours

<dl>
    <dt>Some of the popular languages that Data Scientists use are:
    <dd>1 Python
    <dd>2 R
    <dd>3 SQL
    <dd>4 Java
    <dd>5 C++
    <dd>6 Julia
    <dd>7 Visual Basic
    <dd>8 Ruby
    <dd>9 Scala
    <dd>10 JavaScript

<dl> Some of the commonly used libraries used by Data Scientists include:
    <dd>1 Numpy
    <dd>2 Mathplot
    <dd>3 Tensor Flow

| Data Science Tools |
| --- |
| Pandas |
| Scrapy |
| Spark |

<h3> Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

def min_to_hour(x): 
    print("This will convert", x, "minutes to hours by diving by 60 as:", x/60, "hours")

min_to_hour(200)

This will convert 200 minutes to hours by diving by 60 as: 3.3333333333333335 hours

<h2> Author
    
Ricardo Cand√°s Vega